
@model IEnumerable<BookShopping.Models.ShoppingModel.Category>
    <hr />  
<form asp-controller="Category" asp-action="Create" method="post">

    <div class="recommended_items">
        <h2 class="title text-center">Kategori Ekle</h2>
    </div>
    <input type="hidden" name="Id" />

    <b>Kategori Adı</b>
    <input name="Name" type="text" class="form-control" />
    <br />
    <button class="btn btn-fefault cart"><i class="fa fa-check-square"></i> Kategori Ekle</button> @TempData["create"]
    @TempData["delete"]
</form>
<br />
<div class="recommended_items">
    <h2 class="title text-center">KATEGORİLER</h2>
</div>
<form asp-controller="Category" asp-action="Index" method="post">
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Kod</th>
                    <th>Kategori Adı</th>
                    <th>Tarih</th>
                    <th></th>
                    <th></th>

                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name) </td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>
                            <button asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-times"></i>  Sil</button>
                            <button asp-action="Index" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-book"></i>  Ürün işlemleri</button>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default"><i class="fa fa-refresh"></i>  Düzenle</a>

                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</form>

