
@model IEnumerable<BookShopping.Models.ShoppingModel.Category>

<form asp-controller="Category" asp-action="Create" method="post">
    <h1>Kategori Ekle</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="Id" />

    <b>Kategori Adı</b>
    <input name="Name" type="text" class="form-control" />

    <a class="btn btn-default update" href="">Ekle</a>
</form>

<form asp-controller="Category" asp-action="Index" method="post">
    <section id="cart_items">
        <div class="container">

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Kod</th>
                            <th>Kategori Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td><a asp-action="Delete" asp-route-id="@item.Id">Sil</a></td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>

@*<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <div class="panel panel-default">
                            <form asp-controller="Category" asp-action="Index" method="post">
                                <div class="table-responsive cart_info">
                                    <table class="table table-condensed">

                                            <thead>
                                                <tr>
                                                    <th>Kategoriler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a asp-action="Index" asp-controller="Product" asp-route-id="@item.Id">
                                                                @item.Name
                                                            </a>
                                                            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
