
@model IEnumerable<BookShopping.Models.ShoppingModel.Category>
<h1>KATEGORİLER</h1>
<br />

<form asp-controller="Category" asp-action="Lİst" method="post">
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Kod</th>
                    <th>Kategori Adı</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name) </td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>
                            <button asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-times"></i>  Sil</button>
                            <button asp-action="Index" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-plus"></i>  Ürün Ekle</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</form>

