@model IEnumerable<BookShopping.Models.ShoppingModel.Payment>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Checkout | E-Shopper</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>

    <form asp-controller="Payment" asp-action="Pay" method="post">
        <input type="hidden" name="BasketId" value="@ViewBag.BasketId" />
        <div>
            <label>Ödenecek Ücret:</label>
            <input type="text" name="TotalFee" class="form-control" value="" required />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Ödeme Yap</button>

    </form>
    <form asp-controller="Payment" asp-action="Index" method="post">

        <input type="hidden" name="BasketId" value="@ViewBag.BasketId" />

        <section id="cart_items">
            <div class="container">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td></td>
                                @*<td>Ürün Adı</td>*@
                                <td>Ödeme Kodu</td>
                                <td>Ödenen Fiyat</td>
                                <td>Tarih</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                <tr>
                    <td class="cart_product">
                        <a href=""><img src="iimages" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <p>@Html.DisplayFor(modelItem => item.Id) </p>
                    </td>
                    <td class="cart_price">
                        <p>@Html.DisplayFor(modelItem => item.TotalFee)</p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">@Html.DisplayFor(modelItem => item.Date)</p>
                    </td>

                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>}
                        </tbody>

                    </table>
                </div>


            </div>
        </section> <!--/#cart_items-->
        <section id="do_action">

            <div class="container">
                <div class="col-sm-6">
                    <div class="total_area">

                        <ul>
                            <li>Toplam Ödenen Ücret:<span>@ViewBag.totalPay ₺</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!--/#do_action-->
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.scrollUp.min.js"></script>
        <script src="~/js/jquery.prettyPhoto.js"></script>
        <script src="~/js/main.js"></script>

    </form>
</body>
</html>