@using Microsoft.AspNetCore.Identity


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Elif | Kitap Evi</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
    <title>@ViewData["Title"] - BookShopping</title>
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                          
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="active"><i class="fa fa-user"></i>@ViewBag.UserName</a>
                                        <ul role="menu" class="sub-menu">
                                            <li><a asp-controller="Security" asp-action="Account" ><i class="fa fa-angle-down"></i>Bilgiler</a></li>

                                        </ul>
                                    </li>
                                    <li><a asp-action="Logout" asp-controller="Security"><i class="fa fa-lock"></i> Çıkış Yap</a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="Security" asp-action="Index"><i class="fa fa-lock"></i>Giriş Yap</a></li>
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <img src="~/images/home/book.png" alt="" />
                            <a href="https://localhost:44370/product/HomeProduct"><img src="images/home/logo.png" alt="" />KitapEvi</a>
                        </div>

                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i>Anasayfa</a></li>
                                <li><a asp-controller="Contact" asp-action="Index"><i class="fa fa-star"></i>İletişim</a></li>
                                <li><a asp-controller="Category" asp-action="List"><i class="fa fa-crosshairs"></i>Kategoriler</a></li>


                                @if (User.IsInRole("eozkaya675@gmail.com"))
                                {
                                    <li><a asp-controller="Category" asp-action="Index"><i class="fa fa-crosshairs"></i>Kategori ve Ürün İşlemleri</a></li>                                   
                                    <li><a asp-controller="Security" asp-action="List"><i class="fa fa-weibo"></i>Müşteriler</a></li>
                                    <li><a asp-controller="Role" asp-action="Index"><i class="fa fa-table"></i>Yetkilendirme</a></li>

                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-controller="Basket" asp-action="Index"><i class="fa fa-shopping-cart"></i>Sepetim</a></li>
                                }

                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>@*/header-middle*@
        <!--<div class="col-md-8 clearfix">
            <div class="shop-menu clearfix pull-right">
                <ul class="nav navbar-nav">
                    <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                    <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
                    <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                    <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                    <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
                </ul>
            </div>

        </div>-->

    </header><!--/header-->

    @RenderBody()

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">

                        @*  @Html.Partial("~/Views/HomeCategory/List.cshtml")*@
                      @*  @Html.Partial("~/Views/Category/Homecategory.cshtml")*@


                    </div><!--/category-products-->

                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->


                    </div><!--features_items-->


                </div>
            </div>
        </div>
    </section>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2020  Tüm Haklar Saklıdır.</p>
                <p class="pull-right">KiTapEvi</p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>