
@model IEnumerable<BookShopping.Models.ShoppingModel.Product>
<hr />
<div class="recommended_items">
    <h2 class="title text-center">Ürün Detayı</h2>
</div>
<body>
    <form action="Detail" method="post">
        <input type="hidden" name="CategoryId" value="@ViewBag.CategoryId"/>
        <div class="col-sm-9 padding-right">
            @foreach (var item in Model)
            {
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="@item.PictureWay"  height="100" width="100" />
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>  @Html.DisplayFor(modelItem => item.Name)</h2>
                            <span>
                                <span>@Html.DisplayFor(modelItem => item.Price) ₺</span>
                                <label>Miktar: @Html.DisplayFor(modelItem => item.Quantity)  @*@Html.DropDownList("Quantity", Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))*@</label>
                                <button asp-controller="Basket" asp-action="Create" asp-route-id="@item.Id" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Sepete ekle
                                </button>
                            </span>
                           
                        </div>
                    </div>
                    <div>
                        <p>AÇIKLAMA</p>
                        <p>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </p>
                        <!-- Controls -->
                    </div>
                </div>

            }
        </div>
    </form>
</body>