@model IEnumerable<BookShopping.Models.ShoppingModel.Product>
@Html.Partial("~/Views/Home/Index.cshtml")
<br />
<br />
<form asp-controller="Product" asp-action="HomeProduct" method="post">

    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <!--features_items-->
            <h2 class="title text-center">Ürünler</h2>
            
                <div class="product-image-wrapper">
                  
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <h4>@item.Name</h4>

                                        <img src="@item.PictureWay" height="250" width="50" />
                                        <h2>@Html.DisplayFor(modelItem => item.Price)</h2>
                                    </div>

                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>@Html.DisplayFor(modelItem => item.Price)</h2>
                                            <p><h4><a asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h4></p>
                                            <a asp-controller="Basket" asp-action="Create" asp-route-id="@item.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete ekle</a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    }
                </div>

            </div>
        </div>
</form>
