@model IEnumerable<BookShopping.Models.ShoppingModel.Product>

<form asp-controller="Product" asp-action="Create" method="post">
    <input type="hidden" name="CategoryId" value="@ViewBag.CategoryId" />
    <div class="col-6">
        <label>Ürün Adı:</label>
        <input type="text" name="Name" class="form-control" required />
    </div>
    @*<div>
            <label>resim:</label>
            <input type="file" name="Pictures" class="form-control" required />
        </div>*@
    <div class="col-6">
        <label>Açıklama:</label>
        <input type="text" name="Comment" class="form-control" required />
    </div>
    <div class="col-6">
        <label>Fiyat:</label>
        <input type="number" name="Price" class="form-control" required />
    </div>
    <br />   
    <button  class="btn btn-fefault cart"><i class="fa fa-check-square"></i> Ürün Ekle</button>
</form>
<br />
<form asp-controller="Product" asp-action="Index" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Kategori Adı</th>
                <th>Ürün Kodu</th>
                @*  <th>Resim</th>*@
                <th>Ürün Adı</th>
                <th>Fiyat</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td> *@

    <td>
        <a asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>

    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a> |

    </td>
</tr>
}
        </tbody>
    </table>
</form>
