@model IEnumerable<BookShopping.Models.ShoppingModel.Product>

<form asp-controller="Product" asp-action="Create" method="post">

    <input type="hidden" name="CategoryId" />
    <div>
        <label>Ürün Adı:</label>
        <input type="text" name="Name" class="form-control" value="" required />
    </div>
    <div>
        <label>resim:</label>
        <input type="image" name="Pictures" class="form-control" value="" required />
    </div>
    <div>
        <label>resim:</label>
        <input type="text" name="Price" class="form-control" value="" required />
    </div>
    <button>ekle</button>
    <br />
</form>

<h1>Ürün Ekle</h1>
<br />

<form asp-controller="Product" asp-action="Index" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Ürün Kodu</th>
                <th>Resim</th>
                <th>Ürün Adı</th>
                <th>Açıklama</th>
                <th>Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        <a asp-action="Index" asp-controller="Category" asp-route-id="@item.Id">
            @item.Category.Name
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>

    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a> |
        <a asp-action="Index" asp-controller="Payment" asp-route-id="@item.Id"> Öde </a>
    </td>
</tr>}
        </tbody>
    </table>
</form>
