@model IEnumerable<BookShopping.Models.Authentication.AppUser>
<h1>Müşteriler Listesi</h1>

<form asp-controller="Product" asp-action="List" method="post">
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>

                <tr>
                    <th>Müşteri Kodu</th>
                    <th>Müşteri Adı</th>
                    <th>Müşteri Soyadı</th>
                    <th>Müşteri E-Posta</th>
                    <th>Müşteri Numarası</th>
                    <th>Müşteri Adresi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>

        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>

        <td>@Html.DisplayFor(modelItem => item.Adress)</td>
        <td><a asp-action="Delete" asp-controller="Security" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-times"></i>  Müşteri Sil</a></td>
    </tr>
}
            </tbody>
        </table>
    </div>
</form>
